<section class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Lista de Barcos</h1>
        <p class="lead">Aqui se muestra una lista de los barcos registrados en nuestro club náutico.</p>
    </div>
</section>
<table>
    <thead>
        <tr>
            <th>Matricula hola</th>
            <th>Nombre</th>
            <th>Amarre</th>
            <th>Cuota</th>
            <th>Id del dueño</th>
            <th>Salida</th>
            <th>Editar</th>
            <th>Borrar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let articulo of articulos">
            <td>{{articulo.matricula}}</td>
            <td>{{articulo.nombre}}</td>
            <td>{{articulo.n_amarre}}</td>
            <td>{{articulo.cuota}}€</td>
            <td>{{articulo.socio}}</td>
            <td><button class="btn btn-primary"><a class="link" [routerLink]="['/formsalida',articulo.matricula]">Registrar</a></button></td>
            <td><button class="btn btn-success"><a class="link">Editar</a></button></td>
            <td><button class="btn btn-danger" (click)="borrar(articulo.matricula)"><a class="link">Borrar</a></button></td>
        </tr>
    </tbody>
</table>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-primary"><a class="link" routerLink="/formbarco">Dar de alta un barco</a></button>
    </div>
  </div>
</div> -->
