<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <img src="assets/layout/images/Logo.png" alt="Image" height="50" class="mb-3">
                </div>
                <p-toast key="tst"></p-toast>
                <div>
                    <div class="pb-5">
                        <span class="p-float-label text-xl">
                            <input type="text" id="matricula" [(ngModel)]="barco.matricula" pInputText class="w-full md:w-30rem" style="padding:1rem">
                            <label for="matricula">Matricula del barco</label>
                        </span>
                    </div>

                    <div class="pb-5">
                        <span class="p-float-label text-xl">
                            <input type="text" id="nombre" [(ngModel)]="barco.nombre" pInputText class="w-full md:w-30rem" style="padding:1rem">
                            <label for="nombre">Nombre del barco</label>
                        </span>
                    </div>

                    <div class="pb-5">
                        <span class="p-float-label text-xl">
                            <input type="nAmarre" id="nAmarre" [(ngModel)]="barco.n_amarre" pInputText class="w-full md:w-30rem" style="padding:1rem">
                            <label for="nAmarre">Numero del amarre</label>
                        </span>
                    </div>

                    <div class="pb-5">
                        <span class="p-float-label text-xl">
                            <input type="cuota" id="cuota" [(ngModel)]="barco.cuota" pInputText class="w-full md:w-30rem" style="padding:1rem">
                            <label for="cuota">Cuota mensual a pagar</label>
                        </span>
                    </div>

                    <div class="pb-5">
                        <span class="p-float-label text-xl">
                            <input type="idSocio" id="idSocio" value={{idSocio}} pInputText class="w-full md:w-30rem" style="padding:1rem" readonly>
                            <label for="nAmarre">Tu identificador</label>
                        </span>
                    </div>

                    <button pButton pRipple label="Guardar cambios" (click)="enviarDatos()" class="w-full p-3 text-xl"></button><br><br>

                    <button pButton pRipple label="Volver" (click)="router.navigate(['/barcos'])" class="w-full p-3 text-xl bg-bluegray-200" style="border: none;"></button>
                    
                </div>
            </div>
        </div>
    </div>
</div>

