<style>
  .navbar {
    background: linear-gradient(to right, #00d2ff, #3a7bd5);
    box-shadow: 0px 0px 10px #999;
  }

  .nav-link {
    color: #fff !important;
    font-weight: bold;
    font-size: 18px;
    padding: 12px 20px;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    text-shadow: 1px 1px #333;
  }

  .nav-link::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }

  .nav-link:hover::before {
    width: 100%;
  }

  .nav-link:hover {
    color: #ffc107 !important;
    text-shadow: 2px 2px #333;
  }

  .nav-link.active::before {
    width: 100%;
  }

  .logo {
    font-size: 2rem;
    font-weight: 700;
    color: white;
  }
</style>
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <p class="logo"><a style="color: white;" routerLink="/">Bahía Mar</a></p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">Menu</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/socios">Socios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/barcos">Barcos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/salidas">Salidas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- Creamos la sección principal de la página -->
 <section class="jumbotron text-center">
    <div class="container">
      <h1 class="display-4">Club nautico Angular</h1>
      <p class="lead">¡Bienvenidos a nuestro club! Aquí podrás encontrar todo lo que necesitas para disfrutar del mar.</p>
      <button class="btn btn-primary"><a class="link" routerLink="/formsocio">Dar de alta un socio</a></button>
      <a href="#" class="btn btn-secondary my-2">Inicia sesion</a>
    </div>
  </section>

  <!-- Creamos una sección con información sobre el club -->
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Instalaciones</h2>
        <p>Nuestro club cuenta con una amplia variedad de instalaciones para todos los gustos.</p>
        <a href="#" class="btn btn-primary">Conocer más</a>
      </div>
      <div class="col-md-4">
        <h2>Actividades</h2>
        <p>Ofrecemos una gran variedad de actividades para que puedas disfrutar del mar al máximo.</p>
        <a href="#" class="btn btn-primary">Conocer más</a>
      </div>
      <div class="col-md-4">
        <h2>Servicios</h2>
        <p>Te ofrecemos todos los servicios necesarios para que tu estadía en el club sea perfecta.</p>
        <a href="#" class="btn btn-primary">Conocer más</a>
      </div>
    </div>
  </div>

  <!-- Agregamos el archivo JavaScript de Bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
