
<!-- Creamos la sección principal de la página -->
 <section class="jumbotron text-center">
    <div class="container">
      <h1 class="display-4">Club nautico Angular</h1>
      <p class="lead">¡Bienvenidos a nuestro club! Aquí podrás encontrar todo lo que necesitas para disfrutar del mar.</p>
      <button class="btn btn-primary"><a class="link" routerLink="/formsocio">Dar de alta un socio</a></button>
      <a href="#" class="btn btn-secondary my-2">Inicia sesion</a>
    </div>
  </section>

  <!-- Creamos una sección con información sobre el club -->
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Instalaciones</h2>
        <p>Nuestro club cuenta con una amplia variedad de instalaciones para todos los gustos.</p>
        <a href="#" class="btn btn-primary">Conocer más</a>
      </div>
      <div class="col-md-4">
        <h2>Actividades</h2>
        <p>Ofrecemos una gran variedad de actividades para que puedas disfrutar del mar al máximo.</p>
        <a href="#" class="btn btn-primary">Conocer más</a>
      </div>
      <div class="col-md-4">
        <h2>Servicios</h2>
        <p>Te ofrecemos todos los servicios necesarios para que tu estadía en el club sea perfecta.</p>
        <a href="#" class="btn btn-primary">Conocer más</a>
      </div>
    </div>
  </div>

  <!-- Agregamos el archivo JavaScript de Bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
